<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>DAH5</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  </head>
  
  <body>
    <div class="container">
      <input type="checkbox" id="nav-toggle">
      <header>
        <label for="nav-toggle" class="bars">
          &#9776;
        </label>
        <img src="/assets/images/dah5-logo-2022.svg" class="logo">
      </header>
      
      <nav class="main">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </nav>
      
      <section class="content">
        {{ content | safe }}
      </section>
      
      <footer>
        Unless otherwise stated, website and content is by <a href="https://davidhunter.scot" target="_blank">David Hunter</a>.
      </footer>
    </div>
  </body>
</html>
