<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% if title %}{{ title }} - {% endif %}DAH5</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  </head>
  
  <body>
    <div class="container">
      <input type="checkbox" id="nav-toggle">
      <header>
        <label for="nav-toggle" class="bars">
          &#9776;
        </label>
        <a href="/"><img src="/assets/images/dah5-logo-2022.svg" class="logo"></a>
        {% if page.url.substr( 0, 11 ) == '/reference/' %}<a href="/reference" class="section-title">Reference</a>{% endif %}
      </header>
      
      <nav class="main">
        <a href="/"{% if page.url == '/' %} class="current"{% endif %}>Home</a>
        <a href="/about/"{% if page.url.substr( 0, 7 ) == '/about/' %} class="current"{% endif %}>About</a>
        <a href="/games/"{% if page.url.substr( 0, 7 ) == '/games/' %} class="current"{% endif %}>Games</a>
        <a href="/reference/"{% if page.url.substr( 0, 11 ) == '/reference/' %} class="current"{% endif %}>Reference</a>
      </nav>
      
      <section class="content{% if page.url.substr( 0, 23 ) == '/games/love-calculator/' %} love-calculator{% endif %}">
        {% if page.url.substr( 0, 11 ) == '/reference/' %}
          <nav>
            <a href="/reference/html/"{% if page.url.substr( 0, 16 ) == '/reference/html/' %} class="current"{% endif %}>HTML</a>
            {% if page.url.substr( 0, 16 ) == '/reference/html/' %}
            <div>
              <a href="/reference/html/"{% if page.url == '/reference/html/' %} class="current"{% endif %}>Intro</a>
            </div>
            {% endif %}
          </nav>
        {% endif %}
        <div class="content">
          {% if page.url.substr( 0, 16 ) == '/reference/html/' %}
            <h1>HTML Reference</h1>
          {% endif %}

          {{ content | safe }}
        </div>
      </section>
      
      <footer>
        Unless otherwise stated, website and content is by <a href="https://davidhunter.scot" target="_blank">David Hunter</a>.
      </footer>
    </div>
  </body>
</html>
