<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% if title %}{{ title }} - {% endif %}DAH5{% if section %} {{ section }}{% endif %}</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    {% if stylesheets %}
      {% for stylesheet in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
      {% endfor %}
    {% endif %}
  </head>
  
  <body>
    <div class="container">
      {% include 'header.njk' %}
      
      {% include 'main-nav.njk' %}
      
      {% include 'content-section.njk' %}
      
      {% include 'footer.njk' %}
    </div>
  </body>
</html>
