      <section class="content">
        {% if page.url.substr( 0, 11 ) == '/reference/' %}
          {% include 'reference-nav.njk' %}
        {% endif %}
        <div class="content">
          {% if page.url.substr( 0, 16 ) == '/reference/html/' %}
            <h1>HTML Reference</h1>
          {% endif %}

          {{ content | safe }}
        </div>
      </section>