      <footer>
        Unless otherwise stated, website and content is by <a href="https://davidhunter.scot" target="_blank">David Hunter</a>.
        <script type="text/javascript">
          document.write( '<br><a href="javascript: toggle_color_scheme();">Toggle Color Scheme</a>' );
          function toggle_color_scheme()
          {
            document.body.classList.toggle( 'toggle-color-scheme' );
          }
        </script>
      </footer>