      <header>
        <label for="nav-toggle" class="bars">
          &#9776;
        </label>
        <a href="/"><img src="/assets/images/dah5-logo-2022.svg" class="logo"></a>
        {% if section and sectionURL %}
          <a href="{{ sectionURL }}" class="section-title">{{ section }}</a>
        {% elif section %}
          <span class="section-title">{{ section }}</span>
        {% endif %}
      </header>