          <nav>
            <a href="/reference/html/"{% if page.url.substr( 0, 16 ) == '/reference/html/' %} class="current"{% endif %}>HTML</a>
            {% if page.url.substr( 0, 16 ) == '/reference/html/' %}
            <div>
              <a href="/reference/html/"{% if page.url == '/reference/html/' %} class="current"{% endif %}>Intro</a>
            </div>
            {% endif %}
          </nav>