section.content
{
  background-color: rgb(184, 159, 212);
}

section.content h1
{
  font-size: 5vw;
  font-weight: 900;
  color: var( --color-text-alt );
}

section.content h1,
section.content .description
{
  text-align: center;
}

section.content .disclaimer
{
  font-size: 0.8rem;
  color: rgb(255, 0, 0);
  font-weight: 600;
}

@media ( prefers-color-scheme: light )
{
  body.toggle-color-scheme section.content
  {
    background-color: rgb(98, 52, 151);
  }
  
  body.toggle-color-scheme section.content .disclaimer
  {
    color: rgb(255, 0, 0);
  }
}

@media ( prefers-color-scheme: dark )
{
  section.content
  {
    background-color: rgb(98, 52, 151);
  }
  
  body.toggle-color-scheme section.content
  {
    background-color: rgb(184, 159, 212);
  }

  section.content .disclaimer
  {
    color: rgb(241, 109, 109);
  }
  
  body.toggle-color-scheme section.content .disclaimer
  {
    color: rgb(255, 0, 0);
  }
}

section.content #alertBox
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var( --color-text-alt );
  font-size: 1.3rem;
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  left: 10vw;
  right: 10vw;
  visibility: hidden;
}

section.content #alertBox #alertBoxText
{
  padding: 4vw;
}

section.content #nojs
{
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

section.content #alertBox,
section.content #nojs
{
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var( --color-background-alt );
}

section.content label
{
  font-weight: 900;
  text-transform: uppercase;
}

section.content label,
section.content input[type='text']
{
  font-size: 8vw;
  display: block;
  width: 100%;
  text-align: center;
}

section.content input[type='text']
{
  background-color: var( --color-background-alt );
  color: var( --color-text );
  border-width: 0;
  padding: 2vw;
  border-radius: 0.5rem;
}

section.content .buttons
{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

section.content button
{
  border-radius: 0.5rem;
  border-width: 0;
}

section.content #btnPlay
{
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  background-color: var( --color-background-alt );
  color: var( --color-text-alt );
}

section.content #btnSwap,
section.content #btnReset,
section.content #alertBoxCloseButton
{
  padding: 0.3rem 0.8rem;
  font-size: 1.1rem;
  background-color: var( --color-text-alt );
  color: var( --color-background-alt );
}

@media ( min-width: 500px )
{
  section.content label,
  section.content input[type='text']
  {
    font-size: 6vw;
  }
}