@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
}

:root
{
  --small: 13px;
  --normal: 16px;
  
  --container-width: 1200px;
  
  --color-black: #000;
  --color-background-dark: rgb( 38, 38, 38 );
  --color-background-dark-alpha: rgb( 38, 38, 38, 0.9 );
  --color-background-light: rgb( 230, 230, 230 );
  --color-background-light-alpha: rgb( 230, 230, 230, 0.9 );
  --color-text-dark: #333;
  --color-text-light: #ccc;
  --color-text-muted-light: #aaa;
  --color-text-muted-dark: #777;
  --color-white: #fff;
  
  --color-background: var( --color-background-light );
  --color-background-alt: var( --color-white );
  --color-background-alpha: var( --color-background-light-alpha );
  --color-text: var( --color-text-dark );
  --color-text-alt: var( --color-black );
  --color-text-muted: var( --color-text-muted-light );
}

@media ( prefers-color-scheme: dark )
{
  :root
  {
    --color-background: var( --color-black );
    --color-background-alt: var( --color-background-dark );
    --color-background-alpha: var( --color-background-dark-alpha );
    --color-text: var( --color-text-light );
    --color-text-alt: var( --color-white );
    --color-text-muted: var( --color-text-muted-dark );
  }
}

html,
body
{
  font-family: "Poppins", sans-serif;
  font-size: var( --normal );
  margin: 0;
  padding: 0;
}

body
{
  background-color: var( --color-background );
  color: var( --color-text );
}

.container
{
  max-width: var( --container-width );
  margin: 0 auto;
  padding: 0;
  background-color: var( --color-background-alt );
}

@media ( prefers-color-scheme: light )
{
  body.toggle-color-scheme
  {
    --color-background: var( --color-black );
    --color-background-alt: var( --color-background-dark );
    --color-background-alpha: var( --color-background-dark-alpha )
    --color-text: var( --color-text-light );
    --color-text-alt: var( --color-white );
    --color-text-muted: var( --color-text-muted-dark );
  }
}

@media ( prefers-color-scheme: dark )
{
  body.toggle-color-scheme
  {
    --color-background: var( --color-background-light );
    --color-background-alt: var( --color-white );
    --color-background-alpha: var( --color-background-light-alpha );
    --color-text: var( --color-text-dark );
    --color-text-alt: var( --color-black );
    --color-text-muted: var( --color-text-muted-light );
  }
}

a
{
  color: var( --color-text );
}

#nav-toggle
{
  display: none;
}

header
{
  display: flex;
  align-items: center;
  gap: var( --normal );
  padding: var( --normal );
  border-bottom: 1px solid var( --color-black );
  background-color: var( --color-background-dark );
  color: var( --color-text-light );
}

header .bars
{
  font-size: 24px;
  line-height: 0.6;
  height: 18px;
  cursor: pointer;
}

header .logo
{
  width: 120px;
  margin-top: 5px;
}

header .section-title
{
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: var( --color-text-muted-dark );
}

#nav-toggle ~ nav.main
{
  display: none;
}

#nav-toggle:checked ~ nav.main
{
  display: flex;
}

nav.main
{
  display: flex;
  align-items: center;
  padding: var( --small );
  border-bottom: 1px solid var( --color-background );
  flex-direction: column;
  gap: var( --small );
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: var( --color-background-alpha );
}

nav.main a
{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var( --small );
  color: var( --color-text );
}

nav.main a:hover,
nav.main a.current
{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  color: var( --color-text-alt );
}

section.content
{
  display: flex;
  flex-direction: column;
}

section.content nav
{
  display: flex;
  flex-direction: column;
}

section.content nav a
{
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: normal;
}

section.content nav > a
{
  font-weight: bold;
}

section.content nav > div
{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

section.content nav > div a.current
{
  color: var( --color-text-alt );
  font-weight: bold;
}

section.content .content
{
  padding: var( --normal );
}

section.content b
{
  color: var( --color-text-alt );
}

section.content a
{
  font-weight: 600;
  color: var( --color-text-alt );
}

section.content pre
{
  overflow-x: auto;
  font-size: 0.8rem;
  box-shadow: 0 0 5px inset var( --color-text );
  border-radius: 0.5rem;
  padding: 1rem;
}

footer
{
  padding: var( --normal );
  font-size: var( --small );
  border-top: 1px solid var( --color-background );
  text-align: center;
  color: var( --color-text-muted );
}

footer a
{
  color: var( --color-text-muted );
  text-decoration: none;
}

footer a:hover
{
  color: var( --color-text-alt );
  text-decoration: underline;
}

@media ( min-width: 800px )
{
  nav.main
  {
    flex-direction: row;
  }

  section.content
  {
    flex-direction: row;
  }

  section.content nav
  {
    width: max-content;
  }
}
