*,
*::before,
*::after
{
  box-sizing: border-box;
}

:root
{
  --small: 0.8rem;
  --normal: 1rem;
  --medium: 1.3rem;
  --large: 2rem;
  
  --container-width: 80rem;
  
  --color-black: #000;
  --color-background-dark: rgb( 38, 38, 38 );
  --color-background-dark-alpha: rgb( 38, 38, 38, 0.9 );
  --color-background-light: rgb( 230, 230, 230 );
  --color-background-light-alpha: rgb( 230, 230, 230, 0.9 );
  --color-text-dark: #333;
  --color-text-light: #ccc;
  --color-text-muted-light: #aaa;
  --color-text-muted-dark: #777;
  --color-white: #fff;
  
  --color-background: var( --color-background-light );
  --color-background-alt: var( --color-white );
  --color-background-alpha: var( --color-background-light-alpha );
  --color-text: var( --color-text-dark );
  --color-text-alt: var( --color-black );
  --color-text-muted: var( --color-text-muted-light );
}

@media ( prefers-color-scheme: dark )
{
  :root
  {
    --color-background: var( --color-black );
    --color-background-alt: var( --color-background-dark );
    --color-background-alpha: var( --color-background-dark-alpha );
    --color-text: var( --color-text-light );
    --color-text-alt: var( --color-white );
    --color-text-muted: var( --color-text-muted-dark );
  }
}

html,
body
{
  font-family: "Poppins", sans-serif;
  font-size: var( --normal );
  margin: 0;
  padding: 0;
}

body
{
  background-color: var( --color-background );
  color: var( --color-text );
  overflow-y: scroll;
}

.container
{
  max-width: var( --container-width );
  margin: 0 auto;
  padding: 0;
}

@media ( prefers-color-scheme: light )
{
  body.toggle-color-scheme
  {
    --color-background: var( --color-black );
    --color-background-alt: var( --color-background-dark );
    --color-background-alpha: var( --color-background-dark-alpha );
    --color-text: var( --color-text-light );
    --color-text-alt: var( --color-white );
    --color-text-muted: var( --color-text-muted-dark );
  }
}

@media ( prefers-color-scheme: dark )
{
  body.toggle-color-scheme
  {
    --color-background: var( --color-background-light );
    --color-background-alt: var( --color-white );
    --color-background-alpha: var( --color-background-light-alpha );
    --color-text: var( --color-text-dark );
    --color-text-alt: var( --color-black );
    --color-text-muted: var( --color-text-muted-light );
  }
}

a
{
  color: var( --color-text );
}

img
{
  max-width: 100%;
}

#nav-toggle
{
  display: none;
}

header
{
  border-bottom: 1px solid var( --color-black );
  background-color: var( --color-background-dark );
  color: var( --color-text-light );
}

header .container
{
  display: flex;
  max-width: var( --container-width );
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0 var( --normal );
  flex-direction: row;
  gap: calc( var( --medium ) * 2 );
  overflow-x: auto;
}

header img.logo
{
  width: 120px;
  max-width: 120px;
  margin-top: 5px;
}

header nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var( --medium );
  flex-direction: row;
  margin-top: 0.1rem;
  width: 80%;
}

header nav a
{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var( --normal );
  color: var( --color-text-muted-dark );
  padding-top: var( --small );
  padding-bottom: var( --normal );
  min-width: fit-content;
}

header nav a:hover,
header nav a.current
{
  color: var( --color-text-light );
}

header nav a.current
{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

section.section-title
{
  background-color: var( --color-background-alt );
  font-size: var( --large );
  font-weight: bold;
  text-transform: uppercase;
}

section.section-title .container
{
  padding: var( --normal );
}

section.section-title a
{
  text-decoration: none;
}

section.content .container
{
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

section.content nav
{
  display: flex;
  flex-direction: column;
}

section.content nav a
{
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: normal;
}

section.content nav > a
{
  font-weight: bold;
}

section.content nav > div
{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

section.content nav > div a.current
{
  color: var( --color-text-alt );
  font-weight: bold;
}

section.content .content
{
  padding: var( --normal );
}

section.content b
{
  color: var( --color-text-alt );
}

section.content a
{
  font-weight: 600;
  color: var( --color-text-alt );
}

section.content pre
{
  overflow-x: auto;
  font-size: 0.8rem;
  box-shadow: 0 0 5px inset var( --color-text );
  border-radius: 0.5rem;
  padding: 1rem;
}

footer
{
  border-top: 1px solid var( --color-background );
  background-color: var( --color-background-alt );
}

footer .container
{
  background-color: transparent;
  padding: var( --normal );
  font-size: var( --small );
  text-align: center;
  color: var( --color-text-muted );
}

footer a
{
  color: var( --color-text-muted );
  text-decoration: none;
}

footer a:hover
{
  color: var( --color-text-alt );
  text-decoration: underline;
}

footer nav
{
  display: flex;
  gap: var( --normal );
  justify-content: space-evenly;
  flex-direction: row;
  overflow-x: auto;
}

footer nav a
{
  border-left: 1px solid white;
  padding-left: var( --normal );
  width: 20%;
  min-width: fit-content;
}

footer nav a:first-of-type
{
  border-left-width: 0;
  padding-left: 0;
}

.dah5-homepage
{
  padding: 3rem 0;
  text-align: center;
}

.dah5-homepage h1
{
  font-size: 3rem;
}

.dah5-homepage .sections
{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.dah5-homepage .section
{
  width: 100%;
}

.dah5-homepage .section .img
{
  background-size: cover;
  background-position: center;
  aspect-ratio: 16 / 9;
  margin-inline: -2rem;
}

.dah5-homepage .section .button
{
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var( --color-background-alt );
  color: var( --color-text-alt );
}

.dah5-homepage .section .button:hover
{
  background-color: var( --color-text-muted );
}

.sitemaps
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}

.sitemap
{
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.sitemaps .sitemap li:first-of-type,
.sitemaps .sitemap li:first-of-type a
{
  font-weight: 900 !important;
  color: var( --color-text-alt );
}

.sitemap a
{
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  border-radius: 0.3rem;
  font-weight: 400 !important;
  color: var( --color-text-alt );
}

.sitemap a:hover
{
  background-color: var( --color-background-alt );
}

.fansites
{
  display: flex;
  flex-direction: column;
}

.fansites .fansite
{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  width: 100%;
}

.bg-alt
{
  background-color: var( --color-background-alt );
}

.bg-dark
{
  background-color: var( --color-background-dark );
}

.text-muted
{
  color: var( --color-text-muted );
}

.padding
{
  padding: 1rem;
}

.hide-small
{
  display: none;
}

@media ( min-width: 600px )
{
  section.content .container
  {
    flex-direction: row;
  }

  section.content nav
  {
    width: max-content;
    flex-grow: 1;
  }
  
  section.content .content
  {
    flex-grow: 2;
  }

  .dah5-homepage .sections
  {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .dah5-homepage .section
  {
    width: 30%;
  }

  .dah5-homepage .section .img
  {
    margin-inline: 0;
  }

  .sitemaps
  {
    flex-direction: row;
  }

  .fansites
  {
    flex-direction: row;
  }

  .fansites .fansite
  {
    width: 25%;
  }

  .hide-small
  {
    display: block;
  }
}
