---
title: Ham Blaster
description: A game that is currently in development with a lot to be confirmed.
layout: "base.njk"
stylesheets:
- /assets/css/game-ham-blaster.css
scripts:
  footer:
  - src: /assets/javascript/game-ham-blaster.js
---

<div class="hamblaster">
  
  <h1>{{ title }}</h1>
  <p><i>{{ description }}</i></p>
  
  <div id="screen" class="screen">
    
  </div>
  
</div>