---
title: Love Calculator
description: Find out how much you could be in love with someone using this simple game.
tags: game
layout: "base.njk"
stylesheets:
- /assets/css/game-love-calculator.css
---

<h1>Welcome to Love Calculator!</h1>
<p>{{ description }}</p>
<p><b>How to Play?</b></p>
<p>Put your name in the first box, then put the name of someone you know into the second box, then press Play!</p>
<p>Afterwards, press the Swap button to switch the names around, and see how much they could be in love with you.</p>
<p>When you are done, press clear to remove both names from the boxes and have another go, or give someone else a go.</p>

<p class="disclaimer"><b>Disclaimer:</b> This is a game intended for a bit of fun. Please do not take the results too seriously.</p>

<div id="nojs">
    PLEASE ENABLE JAVASCRIPT TO PLAY THIS GAME!
</div>

<div id="alertBox">
    <div id="alertBoxText">Sample text.</div>
    <button id="alertBoxCloseButton">Close</button>
</div>

<div id="game">
    <p>
        <label for="txtFirstName"><b>First Name:</b></label>
        <input type="text" id="txtFirstName">
    </p>

    <p>
        <label for="txtSecondName"><b>Second Name:</b></label>
        <input type="text" id="txtSecondName">
    </p>

    <p class="buttons">
        <button type="button" id="btnPlay">Play</button>
        <button type="button" id="btnSwap">Swap</button>
        <button type="button" id="btnReset">Reset</button>
    </p>
</div>

<script type="text/javascript" src="/assets/javascript/game-love-calculator.js"></script>