body
{
    background-color: #336699;
    background-image: url( '../images/bg-logo-1.png' );
}

.international-rescue
{
    min-height: calc( 100% + 2rem );
    margin: -1rem;
    padding: 1rem 1rem;
    background-color: #336699e7;
}

.international-rescue .header
{
    
}

.international-rescue .header .logo
{
    text-align: center;
}

.international-rescue .header .logo img
{
    max-width: 120px;
}

.international-rescue .members
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.international-rescue .member
{
    width: 100%;
    text-align: center;
}

.international-rescue .member img
{
    max-width: 100%;
}

.international-rescue .member p:first-of-type
{
    font-weight: bold;
    text-transform: uppercase;
}

.international-rescue .member .img
{
    border: 6px ridge #888888;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left, top 100%;
    background-image: var( --img-member ), var( --img-member-eyes );
    width: 100%;
    aspect-ratio: 418 / 443;
}

.international-rescue .member.jeff-tracy .img
{
    --img-member: url( '../images/jeff-tracy-uniform-portrait.png' );
    --img-member-eyes: url( '../images/jeff-tracy-uniform-portrait-eyes.png' );
}

.international-rescue .member.jeff-tracy:hover .img
{
    animation: member-eyes 2s infinite;
}

.international-rescue .member.scott-tracy .img
{
    --img-member: url( '../images/scott-tracy-uniform-portrait.png' );
    --img-member-eyes: url( '../images/scott-tracy-uniform-portrait-eyes.png' );
}

.international-rescue .member.scott-tracy:hover .img
{
    animation: member-eyes 2s infinite;
}

.international-rescue .member.virgil-tracy .img
{
    --img-member: url( '../images/virgil-tracy-uniform-portrait.png' );
    --img-member-eyes: url( '../images/virgil-tracy-uniform-portrait-eyes.png' );
}

.international-rescue .member.virgil-tracy:hover .img
{
    animation: member-eyes 2s infinite;
}

.international-rescue .member.alan-tracy .img
{
    --img-member: url( '../images/alan-tracy-uniform-portrait.png' );
    --img-member-eyes: url( '../images/alan-tracy-uniform-portrait-eyes.png' );
}

.international-rescue .member.alan-tracy:hover .img
{
    animation: member-eyes 2s infinite;
}

.international-rescue .member.gordon-tracy .img
{
    --img-member: url( '../images/gordon-tracy-uniform-portrait.png' );
    --img-member-eyes: url( '../images/gordon-tracy-uniform-portrait-eyes.png' );
}

.international-rescue .member.gordon-tracy:hover .img
{
    animation: member-eyes 2s infinite;
}

.international-rescue .member.john-tracy .img
{
    --img-member: url( '../images/john-tracy-uniform-portrait.png' );
    --img-member-eyes: url( '../images/john-tracy-uniform-portrait-eyes.png' );
}

.international-rescue .member.john-tracy:hover .img
{
    animation: member-eyes 2s infinite;
}

@keyframes member-eyes
{
    0%,
    100%
    {
        background-image: var( --img-member );
    }
    
    50%
    {
        background-image: var( --img-member-eyes );
    }
}

@media ( min-width: 800px )
{
    .international-rescue .members
    {
        flex-direction: row;
    }

    .international-rescue .member
    {
        width: 16.66666666666667%;
    }
}