ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^lovecalculator$ /games/love-calculator [R=307,END]
    RewriteRule ^lc$ /games/love-calculator [R=307,END]
    RewriteRule ^love-calculator$ /games/love-calculator [R=307,END]
    RewriteRule ^games/lovecalculator$ /games/love-calculator [R=307,END]
    RewriteRule ^games/lc$ /games/love-calculator [R=307,END]
    RewriteRule ^game/(.*)$ /games/$1 [R=307,END]
    RewriteRule ^internationalrescue/?$ /fansites/international-rescue [R=307,END]
    RewriteRule ^internationalrescue/(.*)$ /fansites/international-rescue/$1 [R=307,END]
    RewriteRule ^ir/?$ /fansites/international-rescue [R=307,END]
    RewriteRule ^ir/(.*)$ /fansites/international-rescue/$1 [R=307,END]

    RewriteCond %{HTTP_HOST} ^davidhunter.scot$ [OR]
    RewriteCond %{HTTP_HOST} ^www.davidhunter.scot$ [OR]
    RewriteCond %{HTTP_HOST} ^david-hunter.net$ [OR]
    RewriteCond %{HTTP_HOST} ^www.david-hunter.net$ [OR]
    RewriteCond %{HTTP_HOST} ^dah.scot$ [OR]
    RewriteCond %{HTTP_HOST} ^www.dah.scot$ [OR]
    RewriteCond %{HTTP_HOST} ^davidhunter.ict.rocks$ [OR]
    RewriteCond %{HTTP_HOST} ^www.davidhunter.ict.rocks$
    RewriteRule ^(.*)$ https://www.dah5.com/davidhunter/$1 [R=307,END]

    RewriteCond %{HTTP_HOST} ^staticphp.io$ [OR]
    RewriteCond %{HTTP_HOST} ^www.staticphp.io$ [OR]
    RewriteCond %{HTTP_HOST} ^staticphp.ict.rocks$ [OR]
    RewriteCond %{HTTP_HOST} ^www.staticphp.ict.rocks$ [OR]
    RewriteCond %{HTTP_HOST} ^staticphp.bydh.me$ [OR]
    RewriteCond %{HTTP_HOST} ^staticphp.davidhunter.scot$
    RewriteRule ^(.*)$ https://www.dah5.com/staticphp/$1 [R=307,END]

    RewriteCond %{SERVER_PORT} ^80$
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=307,END]
</IfModule>
