---
title: About
layout: "base.njk"
---

<h1>About DAH5</h1>
<p>Hello, I'm David, and this is my website.</p>

<h2>What is DAH5?</h2>
<p>DAH5 is a personal internet alias of mine, created back in 2005 for exploring the technologies that make up the world wide web, and for working on some personal projects.</p>
<p>Today, the DAH5 name represents a long history of my personal achievements, and my continued evolution online.</p>

<h2>Technologies Behind the Website</h2>
<p>For the first time ever, this website was developed using a Static Site Generater called <a href="https://11ty.dev" target="_blank">11ty</a>, a templating language called <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a>, and is hosted in a <a href="https://jamstack.org" target="_blank">JAMstack</a> environment provided by <a href="https://pages.cloudflare.com" target="_blank">CloudFlare Pages</a>. The source code is available on <a href="https://github.com/DavidHunterScot/DAH5" target="_blank">GitHub</a>.</p>

<h2>Contact</h2>
<p>If you wish to get in touch, you can send an email.</p>
<script type="text/javascript">
  var email_address = 'contact' + '@' + 'dah5' + '.' + 'com';
  document.write( '<a href="mailto:' + email_address + '" target="_blank">' + email_address + '</a>' );
</script>
<noscript>contact [at] dah5 [dot] com</noscript>